
.logo {
  align-self: center;
  width: 25px;
  height: 25px;
}
header {
  justify-content: center;
  background-color: #f55a5a;
  min-height: 70px;
  display: flex;
}
.heading {
  display: flex;
  align-self: center;
  padding-left: 7px;
  color: #ffffff;
}
